/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.navbar {
    width: 250px;
    background-color: #eff492;
    color: #000000;
    position: sticky;
    top: 0;
}

.logo img {
    width: 100px;
    margin: 20px auto;
    display: block;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav-links a i {
    font-size: 18px;
    margin-right: 10px;
    color: #070707;
}


.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 10px;
}

.feed {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: scroll;
    height: calc(100vh - 40px); /* Adjust to your preference */
}

.post {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.post img {
    max-width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}



/* Style the post actions buttons */
.post-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

/* Style the Font Awesome icons within the buttons */
.post-actions button i {
    font-size: 16px;
    margin-right: 5px;
}

/* Customize the appearance of the buttons as per your design */
